.git
.gitignore
.env
.env.*
node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs
*.log
.DS_Store
Thumbs.db
.idea
.vscode
.nova
.fleet
.zed
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json
credentials.json
docker-compose.yml
docker-compose.*.yml
